* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header,
.footer,
.container-wrap {
  background-color: #e8ebf1;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.header-inner,
.footer-inner {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  width: 158px;
  height: 55px;
  display: block;
}

img {
  width: 100%;
}

.logo-wrap:hover {
  opacity: 60%;
}

ul {
  list-style: none;
}

.navigation {
  display: flex;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000;
}

.navigation a:hover {
  color: #2aacc8;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown:hover .dropdown {
  display: block;
  background-color: #fff;
}

.nav-item,
.nav-dropdown {
  margin-right: 30px;
  padding: 10px;
}

.nav-dropdown {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 10px;
}

.nav-item:hover,
.nav-dropdown:hover {
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
  background-color: #fff;
}

.nav-item,
.nav-dropdown {
  border-top: 5px solid transparent;
}

.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  left: 0;
  border-bottom: 5px solid #2aacc8;
  padding: 5px;
  z-index: 2;
}

.dropdown a {
  margin: 10px;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

.nav-dropdown a {
  padding-right: 10px;
}

.cheveron-down {
  content: "\e905";
  color: #000;
}

.nav-dropdown:hover .cheveron-down {
  color: #2aacc8;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.carousel-wrap {
  height: 500px;
  background-color: #81e4ed;
  padding: 20px 0 10px 0;
}

.carousel {
  width: 1000px;
  margin: 0 auto;
}

.decor-sun {
  height: 440px;
  background-color: #e05936;
  background-image: url(../images/cup.png), url(../images/comments.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, top right;
  padding: 90px 60px;
}

.decor-sea {
  height: 440px;
  background-color: #2aacc8;
  background-image: url(../images/cup.png), url(../images/comments.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, top right;
  padding: 90px 60px;
}

.slogan {
  width: 350px;
  color: #fff;
  font-size: 50px;
}

.slick-dots li {
  margin: 0 9px;
  width: auto;
  height: auto;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  background-color: rgba(98, 98, 98, 0.5);
  border-radius: 50%;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.container-wrap {
  min-height: 300px;
  display: flex;
}

.container-services {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.services {
  width: 220px;
}

.services:not(:last-child) {
  margin-right: 40px;
}

.services-title {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.title-icon {
  content: "\e900""\e904""\e902""\e903";
  font-size: 25px;
  margin-right: 20px;
  padding: 10px;
  color: #fff;
  background-color: #2aacc8;
  border-radius: 50%;
}

.services-text {
  font-size: 13px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 25px;
}

.services-link {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #2aacc8;
}

.services-link:hover {
  color: #e05936;
}

.cheveron-right {
  content: "\e906";
  color: #000;
  padding-right: 10px;
}

.download-wrap {
  min-height: 230px;
  display: flex;
  align-items: center;
}

.download-box {
  width: 1000px;
  min-height: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  padding: 35px 45px 35px 25px;
}

.download-paragraph {
  width: 600px;
  font-size: 16px;
  line-height: 26px;
  color: #363636;
}

.download-btn {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #2aacc8;
  border-radius: 8px;
  background-image: linear-gradient(
    0deg,
    #29abc7 0%,
    #29abc7 0%,
    #5fcddd 15%,
    #71d9e5 50%,
    #81e3ed 100%
  );
  font-size: 18px;
  color: #0d0707;
  font-weight: bold;
  cursor: pointer;
}

.download-btn:hover {
  opacity: 70%;
}

.download-icon {
  content: "\e901";
  font-size: 30px;
  color: #fff;
}

.footer-inner {
  height: 93px;
}

.footer-area {
  width: 640px;
  font-size: 13px;
  line-height: 18px;
  color: #363636;
}
